@font-face {
    font-family: 'Abel';
    src: url('../assets/fonts/Abel-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

body {
    font-family: 'Abel';
    background-color: #36393E;
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

#navigation_bar {
    display: flex;
    background-color: #36393E;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: solid 2px #303337;
}

#nav_links_container {
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: stretch;
    color: #CACACA;
}

#nav_links_container a {
    padding: 0 7px;
    line-height: 63px;
    color: #F1EEE6;
    text-decoration: none;
}

#nav_links_container a.active {
    background-color: rgba(115,125,124,0.2);
    color: rgba(23, 245, 235, 0.8);
    text-decoration: none;
}

#nav_links_container a:hover {
    color: #ffffff;
}

#logo_link {
    text-decoration: none;
}

#logo_container {
    font-size: 35px;
    padding: 9px 8px;
    cursor: pointer;
    margin: 0 22px;
    color: rgba(255, 255, 255, 0.9)
}

#rs_logo {
    color: #35ECFF;
}

.active {
    display: block !important;
}