#twitter_feed {
    display: flex;
    justify-content: center;
}

#efficiency_log {
    color: #ffffff;
}

#update_container {
    text-align: center;
    font-size: 35px;
    padding: 20px 0;
    cursor: default;
    -webkit-text-stroke: 0.1px black;
}