#treasure_trail_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    position: relative;
}

#clue_search {
    border-radius: 2px;
    margin: 35px 0 12px;
    height: 45px;
    outline: none;
    width: 55%;
    max-width: 685px;
    min-width: 300px;
    border: none;
    font-size: 18px;
    padding: 0 8px;
}

.clue_item {
    padding: 4px;
    font-family: initial;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.clue_item.selected {
    background: #DADADA;
}

#clue_search_popup {
    display: none;
    width: 55%;
    max-width: 685px;
    min-width: 300px;
    background: white;
    position: absolute;
    top: 109px;
    right: 0;
    left: 0;
    margin: auto;
    border: solid 1px #AAAAAA;
    font-size: 19px;
    border-radius: 1px;
    cursor: default;
    max-height: 211px;
    overflow-y: auto;
}

#clue_search_popup::-webkit-scrollbar {
    width: 10px;
    background-color: #D8E2EC;
}

#clue_search_popup::-webkit-scrollbar-thumb {
    background-color: #616565;
    border-radius: 1px;
}

#coordinate_clue {
    display: flex;
    justify-content: center;
}

.clue_subtitle {
    font-size: 22px;
    background: #404040;
    padding: 5px 10px;
    color: #ffffff;
}

#clue_title {
    margin: 25px 0;
    text-align: center;
    color: white;
    cursor: default;
    background: rgba(35, 51, 60, 0.45);
    border-radius: 3px;
    max-width: 736px;
    padding: 7px 10px;
}

#clue_details_container {
    display: flex;
    background: #0A6118;
    padding: 5px 30px;
    color: white;
    font-size: 18px;
}

#clue_details_container.Hard {
    background: #AB9815;
}

#clue_details_container.Elite {
    background: #986B18;
}

#clue_details_container.Master {
    background: #B11414;
}

#clue_label_wrapper {
    padding-right: 50px;
}

#clue_details_wrapper {
    max-width: 210px;
}

#clue {
    font-weight: 600;
}

.clue_image_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #ffffff;
}

#clue_map_wrapper {
    margin: 0 auto 20px auto;
    width: 270px;
}

#clue_info_container {
    margin-bottom: 20px;
}

#clue_spot_wrapper {
    margin: 0 46px 20px 0;
}

.clue_table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    max-width: 756px;
    font-size: 13px;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    cursor: default;
}

.clue_table tbody tr:hover td {
    background: #d9d9d9;
    color: #000000;
}

.clue_table th {
    font-size: 13px;
    font-weight: normal;
    background: #404040;
    border-bottom: 1px solid #fff;
    padding: 5px;
    text-align: center;
    color: #ffffff;
}

.clue_table td {
    border: 1px solid #ffffff;
    color: #000;
    background: #C1C1C1;
    padding: 5px;
    text-align: center;
}

.index td {
    padding: 10px;
}

.index .clue_spot, .index .clue_map {
    height: 175px;
    width: auto;
}

#directory {
    width: 100%;
    max-width: 756px;
    display: flex;
    justify-content: space-around;
    background: #000000;
}

#directory a {
    color: #FFBD04;
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
}

#directory div {
    color: #ffffff;
    padding: 4px;
}

#directory .empty {
    color: rgba(0, 0, 0, 0);
    margin: -10px;
}

#map_clue {
    width: 200px;
    height: auto;
}