{% verbatim %}
<script id="main_template" type="text/x-handlebars-template">
    <div id="calculator_title">Calculators</div>
    <h1 class="calculator" id="combat_calculator"><img id="attack_image" src="{{concat 'base_url' '/static/assets/calculator/attack.png'}}"/> Combat Calculator</h1>
    <h1 class="calculator" id="prayer_calculator"><img id="prayer_image" src="{{concat 'base_url' '/static/assets/calculator/prayer.png'}}"/> Prayer Calculator</h1>
</script>
{% endverbatim %}

{% verbatim %}
<script id="combat_calculator_template" type="text/x-handlebars-template">
    <div id="calculator_title">Combat Calculator</div>

    <div id="highscore_wrapper">
        <label id="highscore_label" for="highscore_username">Username</label>
        <input id="highscore_username" type="text" placeholder="Username" />
        <input id="combat_submit" class="highscore_submit" type="submit" />
    </div>
    <div id="table_wrapper">
        <table class="table_container">
            <tbody>
                <tr>
                    <td><img class="item_img" title="Hitpoints" src="{{concat 'base_url' '/static/assets/calculator/hitpoints.png'}}"></td>
                    <td>Hitpoints</td>
                    <td><input class="combat_input" id="hitpoints_input" type="text" value="10" data-input_type="Hitpoints" maxlength="2" /></td>
                    <td><img class="item_img" title="Magic" src="{{concat 'base_url' '/static/assets/calculator/magic.png'}}"></td>
                    <td>Magic</td>
                    <td><input class="combat_input" id="magic_input" type="text" value="1" data-input_type="Magic" maxlength="2" /></td>
                </tr>
                <tr>
                    <td><img class="item_img" title="Attack" src="{{concat 'base_url' '/static/assets/calculator/attack.png'}}"></td>
                    <td>Attack</td>
                    <td><input class="combat_input" id="attack_input" type="text" value="1" data-input_type="Attack" maxlength="2" /></td>
                    <td><img class="item_img" title="Ranged" src="{{concat 'base_url' '/static/assets/calculator/range.png'}}"></td>
                    <td>Ranged</td>
                    <td><input class="combat_input" id="range_input" type="text" value="1" data-input_type="Ranged" maxlength="2" /></td>
                </tr>
                <tr>
                    <td><img class="item_img" title="Strength" src="{{concat 'base_url' '/static/assets/calculator/strength.png'}}"></td>
                    <td>Strength</td>
                    <td><input class="combat_input" id="strength_input" type="text" value="1" data-input_type="Strength" maxlength="2" /></td>
                    <td><img class="item_img" title="Prayer" src="{{concat 'base_url' '/static/assets/calculator/prayer.png'}}"></td>
                    <td>Prayer</td>
                    <td><input class="combat_input" id="prayer_input" type="text" value="1" data-input_type="Prayer" maxlength="2" /></td>
                </tr>
                <tr>
                    <td><img class="item_img" title="Defence" src="{{concat 'base_url' '/static/assets/calculator/defense.png'}}"></td>
                    <td>Defence</td>
                    <td><input class="combat_input" id="defence_input" type="text" value="1" data-input_type="Defence" maxlength="2" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td id="combat_result" colspan="6">Combat level: <span id="combat_level">3.4</span></td>
                </tr>
                <tr>
                    <td id="next_level_wrapper" colspan="6">
                        <h4 id="next_level_title">To achieve level <span id="next_level">4</span> you need the following:</h4>
                        <div id="next_level_container">
                            <ul>
                                <li><span id="hitpoints_level">3</span> Hitpoints Levels</li>
                                <li><span id="attack_level">2</span> Attack Levels</li>
                                <li><span id="strength_level">2</span> Strength Levels</li>
                                <li><span id="defence_level">3</span> Defence Levels</li>
                            </ul>
                            <ul>
                                <li><span id="magic_level">2</span> Magic Levels</li>
                                <li><span id="range_level">2</span> Ranged Levels</li>
                                <li><span id="prayer_level">5</span> Prayer Levels</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="prayer_calculator_template" type="text/x-handlebars-template">
    <h1 id="calculator_title">Prayer Calculator</h1>

    <table class="table_container" id="table_details_wrapper">
        <tbody>
            <tr>
                <td id="calculator_options" colspan="6">
                    <div id="highscore_wrapper">
                        <label id="highscore_label" for="highscore_username">Username</label>
                        <input id="highscore_username" type="text" placeholder="Username" data-type="Prayer" />
                        <input id="skill_submit" class="highscore_submit" type="submit" />
                    </div>

                    <div id="level_wrapper">
                        <label for="current_level_input">Current Level</label>
                        <input class="level_input" id="current_level_input" type="text" maxlength="2" value="1" />
                        <label for="target_level_input">Target Level</label>
                        <input class="level_input" id="target_level_input" type="text" maxlength="2" value="2" />
                    </div>

                    <div id="exp_wrapper">
                        <label for="current_exp_input">Current Exp</label>
                        <input class="exp_input" id="current_exp_input" type="text" maxlength="2" value="0" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="calculator_options" colspan="6">
                    <input id="ectofuntus_input" class="radio_input" type="radio" name="prayer" />
                    <label for="ectofuntus_input">Ectofuntus</label>
                    <input id="gilded_input" class="radio_input" type="radio" name="prayer" checked />
                    <label for="gilded_input">Gilded Altar (2 Burners)</label>
                </td>
            </tr>
            <tr>
                <td class="calculator_options" colspan="6">
                    <div id="calculate_wrapper">
                        <input class="calculate_submit" id="prayer_submit" type="submit" value="Calculate" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="subheaders">Bones</h2>

    <table class="table_container" id="bone_table">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Name</th>
                <th class="sortable" scope="col">Exp</th>
                <th class="sortable" scope="col">GP/EXP</th>
                <th class="sortable" scope="col">Profit</th>
                <th class="sortable" scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
        {{#each bones_list}}
            <tr class="bone" data-id="{{id}}" data-exp="{{exp}}">
                <td class="img_column"> <a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img class="item_img" title="{{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' file_name}}" /> </a></td>
                <td>{{name}}</td>
                <td class="exp">{{math exp '*' 3.5 false}}</td>
                <td class="gp_per_exp negative">-</td>
                <td class="profit negative">-</td>
                <td class="amount">{{ceil (math 83 '/' (math exp '*' 3.5 false) false) true}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <h2 class="subheaders">Ensouled Heads</h2>

    <table id="ensouled_table" class="table_container">
        <thead>
            <tr>
                <th scope="col">Magic Level</th>
                <th scope="col">Item</th>
                <th scope="col">Name</th>
                <th scope="col">Runes</th>
                <th class="sortable" scope="col">Exp</th>
                <th class="sortable" scope="col">GP/EXP</th>
                <th class="sortable" scope="col">Profit</th>
                <th class="sortable" scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
        {{#each ensouled_list}}
            <tr class="ensouled" data-id="{{id}}" data-exp="{{exp}}">
                <td>{{magic_level}}</td>
                <td class="img_column"> <a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img class="item_img" title="{{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' file_name}}" /> </a></td>
                <td>{{name}}</td>
                <td class="ingredient">{{#each runes}}<span class="content" data-id="{{id}}" data-multiple="{{access_dict multiple id}}"><span class="multiple">{{access_dict multiple id}}</span><a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img class="ingredient_img" title="{{#if multiple}}{{access_dict multiple id}}x{{/if}} {{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' file_name}}" /> </a> </span>{{/each}}</td>
                <td class="exp">{{exp}}</td>
                <td class="gp_per_exp negative">-</td>
                <td class="profit negative">-</td>
                <td class="amount">{{ceil (math 83 '/' exp false) true}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</script>
{% endverbatim %}

{% verbatim %}
<script id="next_level_template" type="text/x-handlebars-template">
    <h4 id="next_level_title">{{#ifCond combat_level '<=' 126}}To achieve level <span id="next_level">{{next_level}}</span> you need the following:{{else}}You cannot advance your combat level any further.{{/ifCond}}</h4>
    <div id="next_level_container">
        <ul>
            {{#ifCond hitpoints_total '<' 99}}<li>{{base_levels}} Hitpoints Levels</li>{{else}}{{/ifCond}}
            {{#ifCond attack_total '<' 99}}<li>{{melee_levels}} Attack Levels</li>{{else}}{{/ifCond}}
            {{#ifCond strength_total '<' 99}}<li>{{melee_levels}} Strength Levels</li>{{else}}{{/ifCond}}
            {{#ifCond defence_total '<' 99}}<li>{{base_levels}} Defense Levels</li>{{else}}{{/ifCond}}
        </ul>
        <ul>
            {{#ifCond magic_total '<' 99}}<li>{{magic_levels}} Magic Levels</li>{{else}}{{/ifCond}}
            {{#ifCond range_total '<' 99}}<li>{{range_levels}} Ranged Levels</li>{{else}}{{/ifCond}}
            {{#ifCond prayer_total '<' 99}}<li>{{prayer_levels}} Prayer Levels</li>{{else}}{{/ifCond}}
        </ul>
    </div>
</script>
{% endverbatim %}