{% verbatim %}
<script id="ge-item-template" type="text/x-handlebars-template">
  <div class="ge-item"> <img class="ge-item" src="{{concat 'base_url' '/static/assets/rs_items/icons/' file_name}}" /> {{name}}</div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="item-template" type="text/x-handlebars-template">
    <h2 id="ge-item-title">
        <img title="{{item_data.name}}" id="ge-item" src="{{concat 'base_url' '/static/assets/rs_items/icons/' item_data.file_name}}" /> {{item_data.name}}
        <span class="{{#ifCond margin_ratio '==' 0}}neutral{{/ifCond}}{{#ifCond margin_ratio '>' 0}}positive{{/ifCond}}{{#ifCond margin_ratio '<' 0}}negative{{/ifCond}}" id="margin-wrapper">({{#ifCond value '==' 'positive'}}+{{/ifCond}}{{margin_ratio}}%)</span>
    </h2>
    <div id="item-statistics-wrapper">
        <div id="ge-subtitle">Item Statistics:</div>
        <div id="ge-table-border-wrapper">
            <div id="ge-table-wrapper">
                <table id="ge-table-1">
                    <tr>
                        <th> <img title="GE Official Price" src="{{concat 'base_url' '/static/assets/grand_exchange/ge-icon.png'}}" />GE Official Price:</th>
                        <td>{{numCommaFormat current_price}}</td>
                    </tr>
                    <tr>
                        <th> <img title="Buy At" id="buy-icon-img" src="{{concat 'base_url' '/static/assets/grand_exchange/buy-icon.png'}}" />Buy Approx. At:</th>
                        <td>{{numCommaFormat selling}}{{#if updated_sell_price}}<a id="question" title="The last known result was updated {{timePassed updated_sell_price}} ago.">?</a>{{/if}}</td>
                    </tr>
                    <tr>
                        <th> <img title="Sell At" id="sell-icon-img" src="{{concat 'base_url' '/static/assets/grand_exchange/sell-icon.png'}}" />Sell Approx. At:</th>
                        <td>{{numCommaFormat buying}}{{#if updated_buy_price}}<a id="question" title="The last known result was updated {{timePassed updated_buy_price}} ago.">?</a>{{/if}}</td>
                    </tr>

                    <tr>
                        <th> <img title="Profit" id="coins-icon-img" src="{{concat 'base_url' '/static/assets/grand_exchange/small_coins-icon.png'}}" />Profit Margin:</th>
                        <td class="{{#ifCond profit_margin '>' 0}}positive{{/ifCond}}{{#ifCond profit_margin '<' 0}}negative{{/ifCond}}">{{#ifCond buying '>' selling}}+{{/ifCond}} {{numCommaFormat profit_margin}}</td>
                    </tr>
                </table>

                <table id="ge-table-2">
                    <tr>
                        <th><img title="GE Limit" id="ge-limit-icon-img" src="{{concat 'base_url' '/static/assets/grand_exchange/ge_limit_2-icon.png'}}" />GE Limit:</th>
                        <td id="ge_limit">{{numCommaFormat item_data.limit}}</td>
                    </tr>
                    <tr>
                        <th><img title="Buy Quantity" id="buy-quantity-icon-img" src="{{concat 'base_url' '/static/assets/grand_exchange/buy_quantity_2-icon.png'}}" />Buy Quantity:</th>
                        <td id="buying_quantity">{{numCommaFormat buy_quantity}}</td>
                    </tr>
                    <tr>
                        <th><img title="Sell Quantity" id="sale-quantity-icon-img" src="{{concat 'base_url' '/static/assets/grand_exchange/sale_quantity-icon.png'}}" />Sale Quantity:</th>
                        <td id="selling_quantity">{{numCommaFormat sell_quantity}}</td>
                    </tr>
                    <tr>
                        <th><img title="High Alch Price" src="{{concat 'base_url' '/static/assets/grand_exchange/high_alchemy-icon.png'}}" />High Alch:</th>
                        <td>{{numCommaFormat item_data.high_alch}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="decant-potions-template" type="text/x-handlebars-template">
    <a href="{{concat 'base_url' '/grand-exchange/decant-potions'}}"><h2>Decant Potions</h2></a>

    <table id="table-container">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Potion</th>
                <th scope="col">Dose (1) Cost</th>
                <th scope="col">Dose (2) Cost</th>
                <th scope="col">Dose (3) Cost</th>
                <th scope="col">Cheapest Dose</th>
                <th scope="col">Cheapest Cost</th>
                <th scope="col">Sell Price</th>
                <th scope="col">GE Limit</th>
                <th scope="col">Max Profit</th>
            </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' potion_id}}"> <img title="{{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' file_name}}" /> </a></td>
                <td>{{name}}</td>
                <td>{{numCommaFormat one_dose_cost}}{{#if one_dose_updated_time}}<a id="question" title="The last known result was updated {{timePassed one_dose_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{numCommaFormat two_dose_cost}}{{#if two_dose_updated_time}}<a id="question" title="The last known result was updated {{timePassed two_dose_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{numCommaFormat three_dose_cost}}{{#if three_dose_updated_time}}<a id="question" title="The last known result was updated {{timePassed three_dose_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{cheapest_dose}}</td>
                <td>{{numCommaFormat cheapest_cost}}</td>
                <td>{{numCommaFormat four_dose_cost}}{{#if four_dose_updated_time}}<a id="question" title="The last known result was updated {{timePassed four_dose_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{numCommaFormat limit}}</td>
                <td class="{{#ifCond profit '>' 0}}positive{{/ifCond}}{{#ifCond profit '<' 0}}negative{{/ifCond}}">{{#ifCond profit '>' 0}}+{{/ifCond}} {{numCommaFormat profit}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</script>
{% endverbatim %}

{% verbatim %}
<script id="clean-herbs-template" type="text/x-handlebars-template">
    <a href="{{concat 'base_url' '/grand-exchange/clean-herbs'}}"><h2>Clean Herbs</h2></a>

    <table id="table-container">
        <thead>
            <tr>
                <th scope="col">Reqs.</th>
                <th scope="col">Item</th>
                <th scope="col">Grimy</th>
                <th scope="col">Buy Price</th>
                <th scope="col">Clean</th>
                <th scope="col">Sell Price</th>
                <th scope="col">GE Limit</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td>{{requirement}}</td>
                <td>{{name}}</td>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' grimy_id}}"> <img title="{{grimy_name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' grimy_file_name}}" /> </a></td>
                <td>{{numCommaFormat grimy_cost}}{{#if grimy_updated_time}}<a id="question" title="The last known result was updated {{timePassed grimy_updated_time}} ago.">?</a>{{/if}}</td>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' clean_id}}"> <img title="{{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' clean_file_name}}" /> </a></td>
                <td>{{numCommaFormat clean_sale}}{{#if clean_updated_time}}<a id="question" title="The last known result was updated {{timePassed clean_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{numCommaFormat grimy_buy_limit}}</td>
                <td class="{{#ifCond profit '>' 0}}positive{{/ifCond}}{{#ifCond profit '<' 0}}negative{{/ifCond}}">{{#ifCond profit '>' 0}}+{{/ifCond}} {{numCommaFormat profit}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</script>
{% endverbatim %}

{% verbatim %}
<script id="unfinished-potions-template" type="text/x-handlebars-template">
    <a href="{{concat 'base_url' '/grand-exchange/unfinished-potions'}}"><h2>Unfinished Potions</h2></a>
    <a id="substitute-cost" href="{{concat 'base_url' '/grand-exchange/227'}}"><img title="Vial of water" src="{{concat 'base_url' '/static/assets/rs_items/icons/vial-of-water.png'}}" /> Vial of Water Cost: {{this.0.vial_of_water_cost}}</a>

    <table id="table-container">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Herb</th>
                <th scope="col">Buy Price</th>
                <th scope="col">Potion</th>
                <th scope="col">Sell Price</th>
                <th scope="col">GE Limit</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td>{{name}}</td>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' herb_id}}"> <img title="{{herb_name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' herb_file_name}}" /> </a></td>
                <td>{{numCommaFormat herb_cost}}{{#if herb_updated_time}}<a id="question" title="The last known result was updated {{timePassed herb_updated_time}} ago.">?</a>{{/if}}</td>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' potion_id}}"> <img title="{{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' potion_file_name}}" /> </a></td>
                <td>{{numCommaFormat potion_sale}}{{#if potion_updated_time}}<a id="question" title="The last known result was updated {{timePassed potion_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{numCommaFormat limit}}</td>
                <td class="{{#ifCond profit '>' 0}}positive{{/ifCond}}{{#ifCond profit '<' 0}}negative{{/ifCond}}">{{#ifCond profit '>' 0}}+{{/ifCond}} {{numCommaFormat profit}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</script>
{% endverbatim %}

{% verbatim %}
<script id="potion-making-template" type="text/x-handlebars-template">
    <a href="{{concat 'base_url' '/grand-exchange/potion-making'}}"><h2>Potion Making</h2></a>
    <a id="substitute-cost" href="{{concat 'base_url' '/grand-exchange/227'}}"><img title="Vial of water" src="{{concat 'base_url' '/static/assets/rs_items/icons/vial-of-water.png'}}" /> Vial of Water Cost: {{this.0.vial_of_water_cost}}</a>

    <table id="table-container">
        <thead>
            <tr>
                <th scope="col">Potion</th>
                <th scope="col">Item</th>
                <th scope="col">Ingredients (Buy Price)</th>
                <th scope="col">Sell Price</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img title="{{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' file_name}}" /> </a></td>
                <td>{{name}}</td>
                <td class="ingredient">{{#each ingredient_list}}<span class="content"><span class="multiple">{{#if multiple}}{{accessDict multiple id}}x{{/if}}</span><a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img class="ingredient-img" title="{{#if multiple}}{{accessDict multiple id}}x{{/if}} {{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' file_name}}" /> </a> ({{numCommaFormat buy_price}} gp)</span>{{/each}}</td>
                <td>{{numCommaFormat potion_sale}}{{#if potion_updated_time}}<a id="question" title="The last known result was updated {{timePassed potion_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{numCommaFormat total_cost}}</td>
                <td class="{{#ifCond profit '>' 0}}positive{{/ifCond}}{{#ifCond profit '<' 0}}negative{{/ifCond}}">{{#ifCond profit '>' 0}}+{{/ifCond}} {{numCommaFormat profit}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</script>
{% endverbatim %}

{% verbatim %}
<script id="barrows-repair-template" type="text/x-handlebars-template">
    <a href="{{concat 'base_url' '/grand-exchange/barrows-repair'}}"><h2>Barrows Repair</h2></a>
    <h2 id="smithing-title">Smithing Level <input id="smithing-input" value="{{this.0.smithing_level}}" type="number" min="0" max="99" size="1" /> <button id="smithing-button">Calculate</button></h2>

    <table id="table-container">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Repair Price</th>
                <th scope="col">Broken</th>
                <th scope="col">Buy Price</th>
                <th scope="col">Repaired</th>
                <th scope="col">Sell Price</th>
                <th scope="col">GE Limit</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td>{{name}}</td>
                <td>{{numCommaFormat repair}}</td>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' broken_id}}"> <img title="{{broken_name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' broken_file_name}}" /> </a></td>
                <td>{{numCommaFormat broken_cost}}{{#if broken_updated_time}}<a id="question" title="The last known result was updated {{timePassed broken_updated_time}} ago.">?</a>{{/if}}</td>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' fixed_id}}"> <img title="{{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' fixed_file_name}}" /> </a></td>
                <td>{{numCommaFormat fixed_sale}}{{#if fixed_updated_time}}<a id="question" title="The last known result was updated {{timePassed fixed_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{numCommaFormat broken_buy_limit}}</td>
                <td class="{{#ifCond profit '>' 0}}positive{{/ifCond}}{{#ifCond profit '<' 0}}negative{{/ifCond}}">{{#ifCond profit '>' 0}}+{{/ifCond}} {{numCommaFormat profit}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</script>
{% endverbatim %}

{% verbatim %}
<script id="plank-making-template" type="text/x-handlebars-template">
    <a href="{{concat 'base_url' '/grand-exchange/plank-making'}}"><h2>Plank Making</h2></a>

    <table id="table-container">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Log</th>
                <th scope="col">Buy Price</th>
                <th scope="col">Sawmill Cost</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Plank</th>
                <th scope="col">Sell Price</th>
                <th scope="col">GE Limit</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td>{{plank_type}}</td>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' log_id}}"> <img title="{{log_name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' log_file_name}}" /> </a></td>
                <td>{{numCommaFormat log_cost}}{{#if log_updated_time}}<a id="question" title="The last known result was updated {{timePassed log_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{numCommaFormat sawmill_cost}}</td>
                <td>{{numCommaFormat total_cost}}</td>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' plank_id}}"> <img title="{{plank_name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' plank_file_name}}" /> </a></td>
                <td>{{numCommaFormat plank_sale}}{{#if plank_updated_time}}<a id="question" title="The last known result was updated {{timePassed plank_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{numCommaFormat limit}}</td>
                <td class="{{#ifCond profit '>' 0}}positive{{/ifCond}}{{#ifCond profit '<' 0}}negative{{/ifCond}}">{{#ifCond profit '>' 0}}+{{/ifCond}} {{numCommaFormat profit}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</script>
{% endverbatim %}

{% verbatim %}
<script id="tan-leather-template" type="text/x-handlebars-template">
    <a href="{{concat 'base_url' '/grand-exchange/tan-leather'}}"><h2>Tan Leather</h2></a>

    <table id="table-container">
        <thead>
            <tr>
                <th scope="col">Hide</th>
                <th scope="col">Buy Price</th>
                <th scope="col">Al Kharid Cost</th>
                <th scope="col">Canifis Cost</th>
                <th scope="col">Cheapest Cost</th>
                <th scope="col">Leather</th>
                <th scope="col">Sell Price</th>
                <th scope="col">GE Limit</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' hide_id}}"> <img title="{{hide_name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' hide_file_name}}" /> </a></td>
                <td>{{numCommaFormat hide_cost}}{{#if hide_updated_time}}<a id="question" title="The last known result was updated {{timePassed hide_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{numCommaFormat al_kharid_cost}}</td>
                <td>{{numCommaFormat canifis_cost}}</td>
                <td>{{numCommaFormat total_cost}}</td>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' leather_id}}"> <img title="{{leather_name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' leather_file_name}}" /> </a></td>
                <td>{{numCommaFormat leather_sale}}{{#if leather_updated_time}}<a id="question" title="The last known result was updated {{timePassed leather_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{numCommaFormat limit}}</td>
                <td class="{{#ifCond profit '>' 0}}positive{{/ifCond}}{{#ifCond profit '<' 0}}negative{{/ifCond}}">{{#ifCond profit '>' 0}}+{{/ifCond}} {{numCommaFormat profit}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</script>
{% endverbatim %}

{% verbatim %}
<script id="enchant-bolts-template" type="text/x-handlebars-template">
    <a href="{{concat 'base_url' '/grand-exchange/enchant-bolts'}}"><h2>Enchant Bolts</h2></a>

    <table id="table-container">
        <thead>
            <tr>
                <th scope="col">Magic Level</th>
                <th scope="col">Bolt (e)</th>
                <th scope="col">Enchanted Item</th>
                <th scope="col">Staff</th>
                <th scope="col">Required Items (Buy Price)</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Sell Price</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td>{{magic_level}}</td>
                <td> <span class="multiple">10x</span> <a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img title="10x {{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' file_name}}" /> </a></td>
                <td>{{name}}</td>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' staff_id}}"> <img title="{{staff_name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' staff_file_name}}" /> </a></td>
                <td class="ingredient">{{#each required_list}}<span class="content"><span class="multiple">{{#if multiple}}{{accessDict multiple id}}x{{/if}}</span><a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img class="ingredient-img" title="{{#if multiple}}{{accessDict multiple id}}x{{/if}} {{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' file_name}}" /> </a> ({{numCommaFormat buy_price}} gp)</span>{{/each}}</td>
                <td>{{numCommaFormat total_cost}}</td>
                <td>{{numCommaFormat bolt_sale}}{{#if bolt_updated_time}}<a id="question" title="The last known result was updated {{timePassed bolt_updated_time}} ago.">?</a>{{/if}}</td>
                <td class="{{#ifCond profit '>' 0}}positive{{/ifCond}}{{#ifCond profit '<' 0}}negative{{/ifCond}}">{{#ifCond profit '>' 0}}+{{/ifCond}} {{numCommaFormat profit}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</script>
{% endverbatim %}

{% verbatim %}
<script id="item-sets-template" type="text/x-handlebars-template">
    <a href="{{concat 'base_url' '/grand-exchange/item-sets'}}"><h2>Item Sets</h2></a>

    <table class="item-set-table" id="table-container">
        <thead>
            <tr>
                <th scope="col">Set</th>
                <th scope="col">Item</th>
                <th scope="col">Items (Buy Price)</th>
                <th scope="col">Sell Price</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img title="{{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' file_name}}" /> </a></td>
                <td>{{name}}</td>
                <td class="ingredient">{{#each item_list}}<a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img class="ingredient-img" title="{{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' file_name}}" /> </a> ({{numCommaFormat buy_price}} gp){{/each}}</td>
                <td>{{numCommaFormat set_sale}}{{#if set_updated_time}}<a id="question" title="The last known result was updated {{timePassed set_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{numCommaFormat total_cost}}</td>
                <td class="{{#ifCond profit '>' 0}}positive{{/ifCond}}{{#ifCond profit '<' 0}}negative{{/ifCond}}">{{#ifCond profit '>' 0}}+{{/ifCond}} {{numCommaFormat profit}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</script>
{% endverbatim %}

{% verbatim %}
<script id="magic-tablets-template" type="text/x-handlebars-template">
    <a href="{{concat 'base_url' '/grand-exchange/magic-tablets'}}"><h2>Magic Tablets</h2></a>
    <a id="substitute-cost" href="{{concat 'base_url' '/grand-exchange/1761'}}"><img title="Soft clay" src="{{concat 'base_url' '/static/assets/rs_items/icons/soft-clay.png'}}" /> Soft Clay Cost: {{this.0.soft_clay_cost}}</a>

    <table id="table-container">
        <thead>
            <tr>
                <th scope="col">Magic Level</th>
                <th scope="col">Tab</th>
                <th scope="col">Item</th>
                <th scope="col">Staff</th>
                <th scope="col">Required Items (Buy Price)</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Sell Price</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td>{{magic_level}}</td>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img title="{{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' file_name}}" /> </a></td>
                <td>{{name}}</td>
                <td>{{#if staff_id}} <a href="{{concat 'base_url' '/grand-exchange/' staff_id}}"> <img title="{{staff_name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' staff_file_name}}" /> </a>{{else}}None{{/if}}</td>
                <td class="ingredient">{{#each item_list}}<span class="content"><span class="multiple">{{#if multiple}}{{accessDict multiple id}}x{{/if}}</span><a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img class="ingredient-img" title="{{#if multiple}}{{accessDict multiple id}}x{{/if}} {{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' file_name}}" /> </a> ({{numCommaFormat buy_price}} gp)</span>{{/each}}</td>
                <td>{{numCommaFormat total_cost}}</td>
                <td>{{numCommaFormat tablet_sale}}{{#if tablet_updated_time}}<a id="question" title="The last known result was updated {{timePassed tablet_updated_time}} ago.">?</a>{{/if}}</td>
                <td class="{{#ifCond profit '>' 0}}positive{{/ifCond}}{{#ifCond profit '<' 0}}negative{{/ifCond}}">{{#ifCond profit '>' 0}}+{{/ifCond}} {{numCommaFormat profit}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</script>
{% endverbatim %}

{% verbatim %}
<script id="frontpage-template" type="text/x-handlebars-template">
    <a href="{{concat 'base_url' '/grand-exchange'}}"><h2>{{this.0.title}}</h2></a>

    <table id="table-container">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Name</th>
                <th scope="col">Buy Approx. At</th>
                <th scope="col">Sell Approx. At</th>
                <th scope="col">Buy Quantity</th>
                <th scope="col">Sell Quantity</th>
                <th scope="col">GE Limit</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td> <a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img title="{{name}}" src="{{concat 'base_url' '/static/assets/rs_items/icons/' file_name}}" /> </a></td>
                <td>{{name}}</td>
                <td>{{numCommaFormat selling}}{{#if sell_updated_time}}<a id="question" title="The last known result was updated {{timePassed sell_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{numCommaFormat buying}}{{#if buy_updated_time}}<a id="question" title="The last known result was updated {{timePassed buy_updated_time}} ago.">?</a>{{/if}}</td>
                <td>{{numCommaFormat buy_quantity}}</td>
                <td>{{numCommaFormat sell_quantity}}</td>
                <td>{{numCommaFormat limit}}</td>
                <td class="{{#ifCond profit '>' 0}}positive{{/ifCond}}{{#ifCond profit '<' 0}}negative{{/ifCond}}">{{#ifCond profit '>' 0}}+{{/ifCond}} {{numCommaFormat profit}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</script>
{% endverbatim %}