<nav id="navigation_bar">
    <a id="logo_link" href="">
        <div id="logo_container">
            <h1 id="h1_logo"><span id="rs_logo">Rs</span><span id="efficiency_log">Efficiency</span></h1>
        </div>
    </a>
    <div id="nav_links_container">
        <a id="home_link" href="">Home</a>
        <h3 class="h3_links"><a id="grand_exchange_link" href="/grand-exchange">Grand Exchange</a></h3>
        <h3 class="h3_links"><a id="treasure_trail_link" href="/treasure-trails">Treasure Trails</a></h3>
    </div>
</nav>