{% verbatim %}
<script id="clue_item_template" type="text/x-handlebars-template">
  <div class="clue_item">{{clue}}</div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="clue_template" type="text/x-handlebars-template">

    <h1 id="clue_title">{{ clue }}</h1>

    <div id="clue_info_container">
        <table id="clue_table" summary="Clue Information">
            <thead>
                <tr>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Requirements</th>
                    <th scope="col">Challenge Answer</th>
                </tr>
            </thead>
            {{#ifCond description '!=' ''}}
            <tfoot>
                <tr>
                    <td colspan="3">{{ description }}</td>
                </tr>
            </tfoot>
            {{/ifCond}}
            <tbody>
                <tr>
                    <td>{{ difficulty }}</td>
                    <td>{{ requirements }}</td>
                    <td>{{ challenge }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {{#if spot_title_1}}
    <h1 id="clue_title">{{ spot_title_1 }}</h1>
    {{/if}}

    <div id="coordinate_clue">
        <div id="clue_spot_wrapper">
            <div class="clue_subtitle">NPC Spot</div>
            <div class="clue_image_container">
                <img id="clue_map" src="{{concat 'static/assets/treasure_trail/' type '_spot/' keywords '.png'}}" />
            </div>
        </div>

        <div id="clue_info_wrapper">
            <div class="clue_panel_wrapper">

                <div id="clue_map_wrapper">
                    <div class="clue_subtitle">Map</div>
                    <div class="clue_image_container">
                        <img id="clue_map" src="{{concat 'static/assets/treasure_trail/' type '_map/' keywords '-map.png'}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#if spot_title_2}}
    <h1 id="clue_title">{{ spot_title_2 }}</h1>

    <div id="coordinate_clue">
        <div id="clue_spot_wrapper">
            <div class="clue_subtitle">NPC Spot</div>
            <div class="clue_image_container">
                <img id="clue_map" src="{{concat 'static/assets/treasure_trail/' type '_spot/' keywords '-2.png'}}" />
            </div>
        </div>

        <div id="clue_info_wrapper">
            <div class="clue_panel_wrapper">

                <div id="clue_map_wrapper">
                    <div class="clue_subtitle">Map</div>
                    <div class="clue_image_container">
                        <img id="clue_map" src="{{concat 'static/assets/treasure_trail/' type '_map/' keywords '-map2.png'}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    {{#if spot_title_3}}
    <h1 id="clue_title">{{ spot_title_3 }}</h1>

    <div id="coordinate_clue">
        <div id="clue_spot_wrapper">
            <div class="clue_subtitle">NPC Spot</div>
            <div class="clue_image_container">
                <img id="clue_map" src="{{concat 'static/assets/treasure_trail/' type '_spot/' keywords '-3.png'}}" />
            </div>
        </div>

        <div id="clue_info_wrapper">
            <div class="clue_panel_wrapper">

                <div id="clue_map_wrapper">
                    <div class="clue_subtitle">Map</div>
                    <div class="clue_image_container">
                        <img id="clue_map" src="{{concat 'static/assets/treasure_trail/' type '_map/' keywords '-map3.png'}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

</script>
{% endverbatim %}