{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RsEfficiency</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content='Utilize 2007 Runescape tools such as Treasure Trail to get your clue rewards and the Exchange feature to discover profitable items. Much more to come!'>
    <meta name="keywords" content="rsefficiency,runescape,07,2007,fansite,old,school,osrs,guides,skill,minigame,money making,grand exchange,ge">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/rsefficiency/rse16.ico' %}" />
    <base href='{{base_url}}' />

    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
    </script>

    <link href="{% static 'css/general.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" type="text/css" rel="stylesheet">

    <script src="{% static 'js/libs/jquery.js' %}"></script>
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>

    {% include "static/partial/navigation_bar.html" %}

    <div id="update_wrapper">
        <div id="update_logo_container">
            <span id="rs_logo">RS</span><span id="efficiency_log">Efficiency</span>
        </div>

        <h1 class="title" id="treasure_trails">Treasure Trails</h1>
        <h1 class="title" id="grand_exchange">Grand Exchange</h1>
        <h1 class="title" id="calculator">Calculator</h1>
        <h1 class="title" id="donate">Donate</h1>
    </div>

    {% include "static/partial/footer.html" %}

</body>

</html>