{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RsEfficiency</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/rsefficiency/rse16.ico' %}" />

    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
    </script>

    <link href="{% static 'css/general.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" type="text/css" rel="stylesheet">

    <script src="{% static 'js/libs/jquery.js' %}"></script>
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>

    {% include "static/partial/navigation_bar.html" %}
    <div id="update_wrapper">
        <div id="update_logo_container">
            <span id="rs_logo">RS</span><span id="efficiency_log">Efficiency</span>
        </div>

        <div id="motto_container">
            Where efficiency is priority.
        </div>

        <h1 id="update_title">Treasure Trails</h1>

        <div class="post_update_container">
            <p class="post_date">Posted on April 9, 2017 4:17 PM PT by Gory Figment</p>
            <img class="post_img" src="{% static 'assets/rsefficiency/updates/update-1.png' %}" />
            <p class="post_body">Treasure Trails is completed and available as of today. Players will be able to to look up any clue using the search bar. An index for different type of clues can be access in the directory on the top. If you have any suggestions, bugs, and inquiries about the Treasure Trail feature please email: osrsefficiency@gmail.com</p>
        </div>

    </div>
</body>

</html>