{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSEfficiency: Treasure Trails</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/rsefficiency/rse16.ico' %}" />

    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';

        globals.clue_data = {
            '188': {'spot_title': 'After Fairy Tale II - Cure a Queen'},
            '215': {'spot_title': 'Brother Tranquility at Harmony Island'},
            '234': {'spot_title': 'After Monkey Madness II'}
        }
    </script>

    <link href="{% static 'css/general.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/treasure_trails.css' %}" type="text/css" rel="stylesheet">

    <script src="{% static 'js/libs/jquery.js' %}"></script>
    <script src="{% static 'js/libs/handlebars.js' %}"></script>
    <script src="{% static 'js/helpers.js' %}"></script>
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/treasure_trails.js' %}"></script>

    {% include "static/partial/treasure_trails_partial.html" %}

</head>
<body>

    {% include "static/partial/navigation_bar.html" %}

    <div id="treasure_trail_wrapper">
        <div id="clue_search_popup">

        </div>

        <input id="clue_search" type="search" placeholder="Search for a clue.." />

        <div id="clue_result_container">

            <h1 id="clue_title">A Baker</h1>

            <div id="clue_info_container">
                <table id="clue_table" summary="Clue Information">
                    <thead>
                        <tr>
                            <th scope="col">Difficulty</th>
                            <th scope="col">Requirements</th>
                            <th scope="col">Challenge Answer</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="3">Fur Trader at Varrock Square.</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Hard</td>
                            <td>None</td>
                            <td>5</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="coordinate_clue">
                <div id="clue_spot_wrapper">
                    <div class="clue_subtitle">NPC Spot</div>
                    <div class="clue_image_container">
                        <img id="clue_map" src="static/assets/treasure_trail/anagram_spot/baraek.png" />
                    </div>
                </div>

                <div id="clue_info_wrapper">
                    <div class="clue_panel_wrapper">

                        <div id="clue_map_wrapper">
                            <div class="clue_subtitle">Map</div>
                            <div class="clue_image_container">
                                <img id="clue_map" src="static/assets/treasure_trail/anagram_map/baraek-map.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>