{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSEfficiency: Treasure Trails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content='Treasure Trails consists of clues, puzzle, and riddles. Use this guide to help you solve a huge variety of different clues'>
    <meta name="keywords" content="rsefficiency,runescape,07,2007,fansite,old,school,osrs,guides,skill,minigame,clue,treasure trails,{{keyword}}">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/rsefficiency/rse16.ico' %}" />
    <base href='{{base_url}}' />

    <script>
        var globals = {};

        globals.base_url = '{{base_url}}';
        globals.type = '{{type}}';
        globals.clue = {{clue|safe}};
        globals.clue_data = {
            '188': {'spot_title_1': "Before Fairy Tale II - Cure a Queen", 'spot_title_2': "After Fairy Tale II - Cure a Queen"},
            '215': {'spot_title_1': "Brother Tranquility at Mos Le'Harmless", 'spot_title_2': "Brother Tranquility at Harmony Island"},
            '234': {'spot_title_1': "Before Monkey Madness II", 'spot_title_2': "After Monkey Madness II"},
            '243': {'spot_title_1': "Eluned by Tyrus Camp", 'spot_title_2': "Eluned by Lletya"},
            '254': {'spot_title_1': "Taverly Dungeon", 'spot_title_2': "Catacombs of Kourend"},
            '255': {'spot_title_1': "Entrance from the Underground Pass", 'spot_title_2': "Thorgel"},
            '305': {'spot_title_1': "Fourth level of Stronghold of Security", 'spot_title_2': "Catacombs of Kourend"},
            '306': {'spot_title_1': "Kill Penda in Burthorpe Bar to obtain the key", 'spot_title_2': "Search the drawers in Dunstan's house"},
            '307': {'spot_title_1': "Kill Rellekka marketplace guard to get a key", 'spot_title_2': "Open drawers in the Lighthouse"},
            '319': {'spot_title_1': "Kill any Chicken to obtain a key", 'spot_title_2': "Search the drawers in Seers' Village"},
            '320': {'spot_title_1': "Kill a Guard dog at Handelmort Mansion to get a key", 'spot_title_2': "Search the drawers in the pub upstairs north of Ardougne Castle"},
            '321': {'spot_title_1': "Kill any Guard located around East Ardougne for a key", 'spot_title_2': "Search the drawers upstairs the building south from the bank in Ardougne"},
            '322': {'spot_title_1': "Kill a Man in a building north from Wizards' Guild in Yanille for a key", 'spot_title_2': "Go upstairs and open a chest"},
            '357': {'spot_title_1': "Kill a Wizard for a key", 'spot_title_2': "Search the drawers down the basement in the room at the east"},
            '364': {'spot_title_1': "Kill a King Black Dragon for a key", 'spot_title_2': "Open a chest with the key"},
            '377': {'spot_title_1': "Talk to Shantay, ask what the place is then identify yourself as an outlaw. Once you are sent to the jail, refuse to pay the 5gp fine twice and you will be sent to the Port Sarim jail.", 'spot_title_2': "Search the bucket in the Port Sarim jail"},
            '423': {'spot_title_1': "Get a key from a Pirate", 'spot_title_2': "Search drawers upstairs east from the bar"},
            '462': {'spot_title_1': "Kill a confused barbarian or lost barbarian within the Ancient Cavern to receive mangled bones", 'spot_title_2': "Go back up top by the whirlpool to construct a pyre ship with mangled bones, a tinderbox, logs, and an axe", 'spot_title_3': "Kill the Ferocious Barbarian Spirit that spawns to receive a clue casket."},
            '479': {'spot_title_1': "Male Barbarian can be found at Barbarian Outpost (picture) or Barbarian Village", 'spot_title_2': "The chest is located underneath the Red Dragon's head in the Exam Centre"},
            '503': {'spot_title_1': "Kill a monk for a key", 'spot_title_2': "Search a chest at Varrock church"},
            '577': {'spot_title_1': "Enter through the tombstone south-east from the Fenkenstrain Castle", 'spot_title_2': "Go northwest through the experiments cave, up the ladders", 'spot_title_3': "Panic by the tombstone with no boots equipped"},
            '640': {'spot_title_1': "Talk to Murphy at Port Khazard", 'spot_title_2': "Collect Five Rocks just outside the Mudskipper Cave and then go inside", 'spot_title_3': "Dig on this spot inside the Mudskipper Cave"}
        }
    </script>

    <link href="{% static 'css/general.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/treasure_trails.css' %}" type="text/css" rel="stylesheet">

    <script src="{% static 'js/libs/jquery.js' %}"></script>
    <script src="{% static 'js/libs/handlebars.js' %}"></script>
    <script src="{% static 'js/helpers.js' %}"></script>
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/treasure_trails.js' %}"></script>

    {% include "static/partial/treasure_trails_partial.html" %}

</head>
<body>

    {% include "static/partial/navigation_bar.html" %}

    <div id="treasure_trail_wrapper">
        <div id="clue_search_popup">

        </div>

        <div id="directory">
            <div class="empty">|</div>
            <a class="clue_type" href="/treasure-trails/anagram">Annagrams</a>
            <div>|</div>
            <a class="clue_type" href="/treasure-trails/cipher">Ciphers</a>
            <div>|</div>
            <a class="clue_type" href="/treasure-trails/coordinate">Coordinates</a>
            <div>|</div>
            <a class="clue_type" href="/treasure-trails/cryptic">Cryptics</a>
            <div>|</div>
            <a class="clue_type" href="/treasure-trails/emote">Emotes</a>
            <div>|</div>
            <a class="clue_type" href="/treasure-trails/map">Maps</a>
            <div class="empty">|</div>
        </div>

        <input id="clue_search" type="search" placeholder="Search for a clue.." />

        <div id="clue_result_container">

            <h1 id="clue_title">A Baker</h1>

            <div id="clue_info_container">
                <table class="clue_table" summary="Clue Information">
                    <thead>
                        <tr>
                            <th scope="col">Difficulty</th>
                            <th scope="col">Requirements</th>
                            <th scope="col">Challenge Answer</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="3">Fur Trader at Varrock Square.</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Hard</td>
                            <td>None</td>
                            <td>5</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="coordinate_clue">
                <div id="clue_spot_wrapper">
                    <div class="clue_subtitle">NPC Spot</div>
                    <div class="clue_image_container">
                        <img class="clue_spot" src="{% static 'assets/treasure_trail/anagram_spot/baraek.png' %}" />
                    </div>
                </div>

                <div id="clue_info_wrapper">
                    <div class="clue_panel_wrapper">

                        <div id="clue_map_wrapper">
                            <div class="clue_subtitle">Map</div>
                            <div class="clue_image_container">
                                <img class="clue_map" src="{% static 'assets/treasure_trail/anagram_map/baraek-map.png' %}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% include "static/partial/footer.html" %}

</body>
</html>